# https://docs.github.com/en/code-security/supply-chain-security/keeping-your-dependencies-updated-automatically/configuration-options-for-dependency-updates

version: 2
updates:
  # vendor-ui
  - package-ecosystem: "npm"
    directory: "/services/promoter-ui"
    schedule:
      interval: "daily"
      time: "04:30"
    open-pull-requests-limit: 0

  # Promoter
  - package-ecosystem: "gradle"
    directory: "/services/Promoter"
    schedule:
      interval: "daily"
#      time: "04:30"
    open-pull-requests-limit: 3
    
  # Pricing
  - package-ecosystem: "gradle"
    directory: "/services/Pricing"
    schedule:
      interval: "daily"
#      time: "04:30"
    open-pull-requests-limit: 3
    
  # SharedLib
  - package-ecosystem: "gradle"
    directory: "/libs/SharedLib"
    schedule:
      interval: "daily"
#      time: "04:30"
    open-pull-requests-limit: 3
    
    
  # TicketingTests
  - package-ecosystem: "gradle"
    directory: "/SystemTests/TicketingTests"
    schedule:
      interval: "daily"
      time: "04:30"
    open-pull-requests-limit: 0
