<configuration>

    <appender name="consoleLog" class="ch.qos.logback.core.ConsoleAppender" level="INFO">
            <encoder>
                <pattern>%d{HH:mm:ss.SSS} %p [%t] %C{0}:%line: %m %n
                </pattern>
            </encoder>
    </appender>

    <root>
        <appender-ref ref="consoleLog"/>
    </root>

</configuration>
