<mat-card id="concert-list-container">

  <mat-card-header fxLayoutAlign="center">
    <mat-card-title>Your concerts</mat-card-title>
  </mat-card-header>

  <mat-card-content>


    <p *ngIf="concerts.length === 0">
      You don't have any concerts created yet
    </p>

    <button mat-raised-button routerLink="/concert/create">
      <mat-icon>add</mat-icon>
      Create Concert
    </button>


    <mat-table
      id="concerts-list"
      *ngIf="concerts.length > 0"
      [dataSource]="concerts">

      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
        <mat-cell class="concert-title" *matCellDef="let concerts">{{concerts.title}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
        <mat-cell class="concert-date" *matCellDef="let concerts">{{concerts.date | amDateFormat: 'YYYY-MM-DD'}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
        <mat-cell class="concert-id" *matCellDef="let concerts"><span>{{concerts.id}}</span></mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let concerts; columns: displayedColumns"></mat-row>

    </mat-table>

  </mat-card-content>
</mat-card>
