name: Promoter CI
run-name: Promoter CI

on: [push]

env:
  PACT_BROKER_BASE_URL: ${{ vars.PACT_BROKER_BASE_URL }}
  PACT_BROKER_TOKEN: ${{ secrets.PACT_BROKER_TOKEN }}

jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      # Configure Gradle for optimal use in GiHub Actions, including caching of downloaded dependencies.
      # See: https://github.com/gradle/actions/blob/main/setup-gradle/README.md
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@417ae3ccd767c252f5661f1ace9f835f9654f2b5 # v3.1.0

      - name: Publish Pricing Spring Cloud Contract
        run: >-
          cd services/Pricing &&
          ./gradlew publishToMavenLocal

      - name: Test
        run: >-
          cd services/Promoter &&
          ./gradlew test

      - name: Publish Promoter Pact
        run: >-
          docker run --rm \
            -w ${PWD} \
            -v ${PWD}:${PWD} \
            -e PACT_BROKER_BASE_URL=$PACT_BROKER_BASE_URL \
            -e PACT_BROKER_TOKEN=$PACT_BROKER_TOKEN \
            pactfoundation/pact-cli:1.1.0.0 \
            broker publish ${PWD}/services/Promoter/build/pacts --consumer-app-version=${{ github.sha }} --branch=${{github.ref_name}} --tag-with-git-branch

  dev-deployment:
    needs: build
    runs-on: ubuntu-latest
    environment: dev
    steps:
      - uses: actions/checkout@v2

      - name: Can I deploy to dev?
        run: >-
          docker run --rm \
            -e PACT_BROKER_BASE_URL=$PACT_BROKER_BASE_URL \
            -e PACT_BROKER_TOKEN=$PACT_BROKER_TOKEN \
            pactfoundation/pact-cli:1.1.0.0 \
            broker can-i-deploy --pacticipant="Tickets.Promoter" --to-environment=dev --version=${{ github.sha }}

      - name: Deploy to Dev
        run: echo "Deploying to dev"

      - name: Record Pact deployment to dev
        run: >-
          docker run --rm \
            -e PACT_BROKER_BASE_URL=$PACT_BROKER_BASE_URL \
            -e PACT_BROKER_TOKEN=$PACT_BROKER_TOKEN \
            pactfoundation/pact-cli:1.1.0.0 \
            broker record-deployment --pacticipant="Tickets.Promoter" --environment=dev --version=${{ github.sha }}

  prod-deployment:
    needs: build
    runs-on: ubuntu-latest
    environment: prod
    steps:
      - uses: actions/checkout@v2

      - name: Can I deploy to prod?
        run: >-
          docker run --rm \
            -e PACT_BROKER_BASE_URL=$PACT_BROKER_BASE_URL \
            -e PACT_BROKER_TOKEN=$PACT_BROKER_TOKEN \
            pactfoundation/pact-cli:1.1.0.0 \
            broker can-i-deploy --pacticipant="Tickets.Promoter" --to-environment=prod --version=${{ github.sha }}

      - name: Deploy to prod
        run: echo "Deploying to prod"

      - name: Record Pact deployment to prod
        run: >-
          docker run --rm \
            -e PACT_BROKER_BASE_URL=$PACT_BROKER_BASE_URL \
            -e PACT_BROKER_TOKEN=$PACT_BROKER_TOKEN \
            pactfoundation/pact-cli:1.1.0.0 \
            broker record-deployment --pacticipant="Tickets.Promoter" --environment=prod --version=${{ github.sha }}