name: Pricing CI
run-name: Pricing CI

on: [push]

env:
  PACT_BROKER_BASE_URL: ${{ vars.PACT_BROKER_BASE_URL }}
  PACT_BROKER_TOKEN: ${{ secrets.PACT_BROKER_TOKEN }}

jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      # Configure Gradle for optimal use in GiHub Actions, including caching of downloaded dependencies.
      # See: https://github.com/gradle/actions/blob/main/setup-gradle/README.md
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@417ae3ccd767c252f5661f1ace9f835f9654f2b5 # v3.1.0

      - name: Publish Promoter Spring Cloud Contract
        run: >-
          cd services/Promoter &&
          ./gradlew publishToMavenLocal

      - name: Test
        run: >-
          cd services/Pricing &&
          ./gradlew 
          -Ppact.verifier.publishResults=true
          -Ppact.provider.version=${{ github.sha }}
          -Ppact.provider.branchName=${{ github.ref_name }}
          -Ppact.provider.tag=${{ github.ref_name }}
          -Ppact.rootDir=build/pacts
          test

      - name: Publish Pricing Pact
        run: >-
          docker run --rm \
            -w ${PWD} \
            -v ${PWD}:${PWD} \
            -e PACT_BROKER_BASE_URL=$PACT_BROKER_BASE_URL \
            -e PACT_BROKER_TOKEN=$PACT_BROKER_TOKEN \
            pactfoundation/pact-cli:1.1.0.0 \
            broker publish ${PWD}/services/Pricing/build/pacts --consumer-app-version=${{ github.sha }} --branch=${{github.ref_name}} --tag-with-git-branch

